<div class="container">
  <h1>Angular Pipes</h1>

  <!--NUMBER-->
  <p>
    {{e | number:'2.0-4'}}
  </p>
  <p>
    {{float | currency}}  -  {{float | percent: "3.0-2"}}
  </p>

  <!--STRING-->
  <p>
    {{str | uppercase | lowercase | titlecase}}
  </p>
  <p>
    {{str | titlecase | slice: 1:-2}}
  </p>

  <!--DATE-->
  <p>
    {{date | date: "dd MMMM yyyy HH:mm:ss"}}
  </p>

  <!--MY PIPE-->
  <p>
    {{10 | mult : 1}}
    {{10 | mult}}
    {{10 | mult : 3}}
  </p>
  <p>
    {{'   HELLO      ' | exMarks}}
  </p>

  <!--ФИЛЬТРАЦИЯ-->
  <input type="text" [(ngModel)]="search">
  <div
    class="card"
    *ngFor="let post of posts | filter: search"
  >
    <div>
      <h2>{{post.id}} - {{post.title}}</h2>
      <p>{{post.content}}</p>
    </div>
  </div>
</div>
