<div class="card">
  <h2>About extra</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto deleniti distinctio dolorem illo,
    inventore libero nobis non quia vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto deleniti distinctio dolorem illo,
    inventore libero nobis non quia vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto deleniti distinctio dolorem illo,
    inventore libero nobis non quia vitae.</p>
</div>
