<div class="container">
  <h1>Angular Services</h1>

  <div class="card">
    <h2>App Counter: {{appCounterService.counter}}</h2>
    <button class="btn" (click)="appCounterService.increase()">+</button>
    <button class="btn" (click)="appCounterService.decrease()">-</button>

    <h2>Local Counter: {{localCounterService.counter}}</h2>
    <button class="btn" (click)="localCounterService.increase()">+</button>
    <button class="btn" (click)="localCounterService.decrease()">-</button>

    <div>
      --------------------------------------
    </div>
    
    <app-counter></app-counter>
  </div>
</div>
