@import url('https://fonts.googleapis.com/css?fami;y=Roboto');

* {
  font-family: 'Roboto Light', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: #333333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
}
